.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 15vh;
  background: #036062;
  color: white;
}

.logo {
  width: 160px;
  margin-bottom: 15px;
}

.title {
  font-size: 42px;
  font-weight: 200;
}
